[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
scikit-learn = "*"
minsearch = "*"
pandas = "*"
flask = "*"
ipykernel = "*"
ollama = "*"
accelerate = "*"
bitsandbytes = "*"
ipywidgets = "*"
flash-attention = "*"
nltk = "*"
spacy = "*"
requests = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
numpy = "*"
pymupdf = "*"
pdfplumber = "*"
sentence-transformers = "*"

[dev-packages]
tqdm = "*"
ipywidgets = "*"
notebook = "*"
ipykernel = "*"
hyperopt = "*"
nbconvert = "*"
