[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
scikit-learn = "*"
minsearch = "*"
pandas = "*"
flask = "*"
sentence-transformers = "*"
ipykernel = "*"
ollama = "*"
transformers = "*"
accelerate = "*"
bitsandbytes = "*"
ipywidgets = "*"
flash-attention = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
flash-attn = "*"

[dev-packages]
tqdm = "*"
ipywidgets = "*"
notebook = "*"
ipykernel = "*"
hyperopt = "*"
